
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
}
body {
  background: url("/public/background.jpg");
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(10px);
  color: #eee;
}
