.box{
  background-color: #f2f2f2;
  padding: 12px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0,0.25);
  margin: auto;
}

.task.done{
  text-decoration: line-through;
  background-color: green;
}

.form input,
.form select {
  border: 0;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0,0.25);
}